<% if(typeof songData === 'object' && songData && Object.keys(songData).length !== 0){ %>
    <% songData.forEach(song =>{ %>
        <div class="music-player">
            <div class="thumbnail">
                <img class="thumbnailUrl" src="<%= song.thumbnailUrl %>" alt="Thumbnail Image">
            </div>
            <div class="info">
                <div class="play-buttons">
                    <p class="current-time">                    </p>
                    <button class="play-button"><i style="display: none" class="fas fa-pause pause"></i><i
                                class="fas fa-play play"></i></button>
                    <p class="end-time">                   </p>
                </div>
                <div class="song-info">
                    <div class="song-heading">
                        <span class="songName"><%= song.name %></span>
                        <a href="/view/profile?username=<%=song.artist%>"><span class="artistName"> - <%= song.artist %></span></a>
                    </div>
                    <div class="song-album">
                        <span class="Album"><%= song.album %></span>
                    </div>
                </div>
                <div class="audio-wrapper" id="audio-player-container">
                    <audio class="audio-player">
                        <source src="<%= song.mp3url %>">
                    </audio>
                </div>
            </div>
            <div class="progress-bar-wrapper">
                <div class="progress-background">
                    <div class="progress">

                    </div>
                </div>
            </div>
            <div class="views-likes">
                <button disabled><i class="far fa-eye"></i><span class="views"><%= song.views %></span></button>
                <% if(typeof user !== 'undefined'){ %>
                    <button class="likes <%if(typeof song.liked_by !=='undefined' && song.liked_by.includes(user)){%>liked<%}%>">
                        <i class="far fa-heart"></i><span class="like_count"><%= song.likes %></span></button>
                <% } %>
            </div>
        </div>
        <div style="display: none">
            <span class="thumbnailsUrl"><%= song.thumbnailUrl %></span>
            <span class="names"><%=song.name%></span>
            <span class="albums"><%=song.album%></span>
            <span class="artists"><%=song.artist%></span>
            <span class="mp3Urls"><%=song.name%></span>
        </div>
<% })}
else{ %>
    <div class="No songs"><h1>No Uploaded songs yet</h1></div>
<% } %>


<script src="../../javascripts/musicPlayer.js"></script>