<% if(typeof playlists === 'undefined' || Object.keys(playlists).length === 0){ %>
    <h1>You currently don't have any playlists created</h1>
<% }else{
playlists.forEach(playlist=>{
%>
    <div class="playlist-wrap">
        <div class="playlist-thumbnail">
            <img src="<%= playlist.thumbnailUrl %>" alt="playlist-thumbnail">
        </div>
        <div class="playlist_info">
            <div class="playlist-name"><%= playlist.playlist_name %></div>
            <div class="owner"><%=playlist.original_owner%></div>
            <div class="shares"><%=playlist.shares%></div>
            <%if(typeof playlist.tracks !== 'undefined'){%>
                <div class="tracks">Tracks: <%= playlist.tracks.length %></div>
            <%}%>
        </div>
        <%if(add_button === true ){%>
            <div class="add_playlist_btn">
                <button class="add_playlist"><i class="fas fa-plus"></i></button>
            </div>
        <%}else if(playlist.original_owner !== user && typeof user !== 'undefined'){%>
            <div class="add_playlist_btn">
                    <button class="add_playlist"><i class="fas fa-plus"></i></button>
            </div>
        <%}%>
    </div>
<% })} %>