<div class="content-wrapper">
    <div class="content">
        <div class="page-header ">
            Design Merchandise
        </div>
        <div class="product_slider">
            <% if(typeof products !== 'undefined' && Object.keys(products).length !== 0 ){%>
                <% products.forEach(product=>{ %>
                    <div class="user_products">
                        <img src="<%= product.img_urls[0] %>" alt="Product_img"><br/>
                        <span><%= product.product_name %></span><br/>
                        <span>€<%= product.price %></span>
                    </div>
            <% })} %>
        </div>
        <canvas id="canvas">

        </canvas>


        <div class="design_controls">
            <div class="selects">
                <select id="merch_selects">
                    <option value="t-shirt">T-shirt</option>
                    <option value="pants">Pants</option>
                    <option value="socks">Pants</option>
                </select>
                <select id="texture_select">
                    <option value="cotton">Cotton</option>
                    <option value="denim">Denim</option>
                    <option value="camo">Camo</option>
                    <option value="knit">Knit</option>
                </select>
                <button class="publish_btn" id="publish_product">Publish</button>
            </div>

            <div class="sliders">
                <label for="reds">
                    Red
                    <div class="slidecontainer">
                        <input type="range" min="1" max="255" value="50" class="slider" id="reds">
                    </div>
                </label>
                <label for="greens">
                    Green
                    <div class="slidecontainer">
                        <input type="range" min="1" max="255" value="50" class="slider" id="greens">
                    </div>
                </label>
                <label for="blues">
                    Blue
                    <div class="slidecontainer">
                        <input type="range" min="1" max="255" value="50" class="slider" id="blues">
                    </div>
                </label>
                <label for="light">
                    Light Intensity:
                    <div class="slidecontainer">
                        <input type="range" min="1" max="100" value="50" class="slider" id="light">
                    </div>
                </label>
            </div>

            <div class="decals">
                <button class="add_decals">Upload Decals</button>
                <% if(typeof decals !== 'undefined'){ %>
                    <select id="decals_select">
                        <% decals.forEach(decal=>{ %>
                            <option value="<%= decal.url %>"><%= decal.decal_name %></option>
                        <% }) %>
                    </select>
                <% } %>

                <form id="decals_form" action="/users/decals/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="decals" id="decals_upload">
                    <button type="submit" id="decal-submit"></button>
                </form>

            </div>
            <div class="decals_added">
                <ul id="decals_list">

                </ul>
            </div>

            <% include partials/product_create_modal.ejs %>
        </div>



        <script>
            $('.add_decals').on('click', function () {
                $('#decals_upload').click().on('change', function () {
                    $('#decal-submit').click();
                });
            });
            $('#publish_product').on('click', function () {
                console.log("clicked");
                $('.publish_product_modal').fadeIn(500);
            });
            $('.close_button').on('click', function () {
                $('.publish_product_modal').fadeOut(500);
            });
        </script>
        <script src="../../javascripts/babylonjs/babylon.max.js"></script>
        <script crossorigin="anonymous" src="../../javascripts/design_tool.js"></script>
        <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    </div>
</div>